:root
{
    --bgBackground:#FFF;
    --fcBackground:#000;

    --bgInvert:#111;
    --fcInvert:#FFF;

    --bgShade:#333;
    --fcShade:#FFF;
}

body
{
    font-size:30px;
    font-family: "Arial";
    background-color: var(--bgBackground);
    color: var(--fcBackground);
    margin:0;
    padding:0;
    text-align: center;
}

.vCenter
{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.float
{
    float:left;
}

.bold
{
    font-weight: bold;
}

.clear
{
    clear:both
}

hr
{
    height: 10px;
    background-color: var(--bgInvert);
}

#canvas
{
    width:1300px;
    margin:auto;
    text-align: left;
}

/* HEADER */

#header
{
    width:100%;
    background-color: var(--bgBackground);
}

#job span
{
    display: inline-block;
    width:calc(50% - 4%);
    margin-left:4%;
}

#job
{
    background-color: var(--bgInvert);
    color: var(--fcInvert);
    font-size: 1em;
    font-weight: bold;
    height: 75px;
}

#job-personal-name
{
    font-size:1.2em;
    
}

#job-name
{
    font-size:1.1em;
}

/* INFOS */

#infos
{
    padding:10px 20px;
}

#infos div
{
    padding:5px;
}

#infos-impots
{
    width:40%
}

#infos-adresse-wrapper
{
    width:50%
}

#infos-adresse
{
    width:20%;
}

/* CLIENT */

#client
{
    background-color: var(--bgShade);
    color: var(--fcShade);
    padding:20px;
}

#client-title
{
    font-size: 1.5em;
    font-weight: bold;
}

#client-name, #client-address
{
    margin-top:1%;
    margin-left:1%;
}

/* BILLING */

#bill
{
    margin-top:50px;
}

#dispense
{
    font-size:0.8em;
    margin:0% 20%;
    font-weight: bold;
    text-align: center;
}

#bill-header
{
    margin:50px 20%;
    
    font-weight: bold;
    font-size: 2em;
}

#bill-header-label
{
    padding-right: 10%;
}

#bill-object
{
    margin:0% 20%;
    margin-bottom:25px;
}

#bill-object-label
{
    font-size:1.1em;
    margin-right:50px;
}

#bill-object-label-dec
{
    margin-right:50px;
}

#bill-object-projectName
{
    font-size:1.1em;
    font-weight: bold;
}

/* TASKS */

#tasks
{
    margin:0% 5%;
    border-style:solid;
}

#tasks-header
{
    border-bottom-style: solid;
    font-weight: bold;
    width: 100%;
}

#tasks span
{
    display:inline-block;
    padding:5px;
    text-align: center;
}

#tasks .task-date
{
    min-width:25%;
}

#tasks .task-designation
{
    min-width: 55%;
}

#tasks .task-price
{
    min-width: 15%;
}

#tasks-lines
{
    margin:10px 0px;
    font-size: 0.8em;
}

/* TOTAL */

#bill-total
{
    margin:3% 0%;
    margin-left:60%;
}

#bill-total span
{
    display: inline-block;
}

#bill-total .assocLabel
{
    text-align: right;
    margin-right:20px;
    width:40%;
}
#bill-total .assocValue
{
    width:40%;
}

#taux
{
    color:var(--fcInvert);
    font-size:0.5em;
}

#total
{
    margin-top:10px;
    font-weight: bold;
}

/* RIB */

#rib
{
    margin:3% 10%;
}

#rib span
{
    vertical-align: text-top;
    display:inline-block;

}

#titulaire
{
    height: 50px;
}

#domicile
{
    height:70px;
}

#refs
{
    height:70px;
}

#rib .assocLabel
{
    width:20%;
    text-align: right;
    margin-right:30px;
}

#rib .assocValue
{
    width:60%;
}

/* CONTACT */



#contact
{
    background-color: var(--bgInvert);
    color:var(--fcInvert);
    font-size:1.1em;
    padding:25px 10%;
}

#email
{
    font-size:1.1em;
}

#contact .assocLabel
{
    text-align: right;
    margin-right:30px;
    width:20%;
}

#email-label
{
    margin-right:10%;
}

#contact div
{
    width:50%;
}
